@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: rgb(65, 53, 46);
    --background-end-rgb: rgb(112, 104, 104);
  }
} */

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}

.ql-container {
  font-family: unset !important;
}

.ql-container,
.ql-toolbar {
  border: none !important;
}
